---
BasedOnStyle: Microsoft
Language: C

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: 0

ColumnLimit: 100

PointerAlignment: Right

AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All

SortIncludes: CaseSensitive

BreakBeforeBraces: Allman
...
